interactions:
- request:
    body: null
    headers:
      url:
      - https://habitica.com
      x-api-key:
      - 18f22441-2c87-6d8e-fb2a-3fa670837b5a
      x-api-user:
      - cd18fc9f-b649-4384-932a-f3bda6fe8102
    method: GET
    uri: https://habitica.com/api/v3/tasks/user/
  response:
    body:
      string: '{"success": true, "data": [{"_id": "64224417-c8f1-4ce7-a6bd-fc1dc2221f11",
        "up": true, "down": false, "counterUp": 0, "counterDown": 0, "frequency":
        "daily", "history": [{"date": 1711855633168, "value": 1, "scoredUp": 1, "scoredDown":
        0}, {"date": 1712467677921, "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date":
        1712968776692, "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date": 1713155633827,
        "value": 1.243614090235369, "scoredUp": 1, "scoredDown": 0}, {"date": 1714177946272,
        "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date": 1716434202866, "value":
        1, "scoredUp": 1, "scoredDown": 0}, {"date": 1717992911611, "value": 1, "scoredUp":
        1, "scoredDown": 0}, {"date": 1718492240795, "value": 1, "scoredUp": 1, "scoredDown":
        0}, {"date": 1722656221190, "value": 1.9747, "scoredUp": 2, "scoredDown":
        0}, {"date": 1725138075215, "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date":
        1726457768221, "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date": 1727461296611,
        "value": 1, "scoredUp": 1, "scoredDown": 0}], "type": "habit", "text": "some
        test habit 1", "notes": "Test notes", "alias": "sometesthabit1", "tags": [],
        "value": 0, "priority": 1.5, "attribute": "str", "challenge": {}, "group":
        {"completedBy": {}, "assignedUsers": []}, "byHabitica": false, "reminders":
        [], "createdAt": "2024-03-02T22:14:06.221Z", "updatedAt": "2024-10-06T03:58:24.955Z",
        "userId": "cd18fc9f-b649-4384-932a-f3bda6fe8102", "id": "64224417-c8f1-4ce7-a6bd-fc1dc2221f11"},
        {"_id": "f5d2c8e2-634f-4c48-864d-efd5fca555ae", "up": true, "down": true,
        "counterUp": 0, "counterDown": 0, "frequency": "daily", "history": [{"date":
        1709444368619, "value": 2.9253562257358428, "scoredUp": 3, "scoredDown": 0},
        {"date": 1709532013739, "value": 5.6443010177121415, "scoredUp": 3, "scoredDown":
        0}, {"date": 1711344173008, "value": 7.355994112832055, "scoredUp": 2, "scoredDown":
        0}, {"date": 17[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer d1347120363c2b310653f610d382729bd51e13c6
    method: GET
    uri: https://api.todoist.com/rest/v2/tasks
  response:
    body:
      string: '[{"id": "4838805235", "assigner_id": null, "assignee_id": null, "project_id":
        "2325654971", "section_id": "142870400", "parent_id": null, "order": 0, "content":
        "some test task 213", "description": "some test description", "is_completed":
        false, "labels": [], "priority": 2, "comment_count": 1, "creator_id": "33931948",
        "created_at": "2021-05-19T02:17:28.278377Z", "due": null, "url": "https://app.todoist.com/app/task/4838805235",
        "duration": null, "deadline": null, "user_id": "34534534534"}, {"id": "4986052922",
        "assigner_id": null, "assignee_id": null, "project_id": "2325654971", "section_id":
        "142870400", "parent_id": "4838805235", "order": 2, "content": "some test
        task 214", "description": "some test description", "is_completed": false,
        "labels": [], "priority": 1, "comment_count": 0, "creator_id": "33931948",
        "created_at": "2021-07-13T04:36:40.935458Z", "due": null, "url": "https://app.todoist.com/app/task/4986052922",
   [...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer d1347120363c2b310653f610d382729bd51e13c6
    method: GET
    uri: https://api.todoist.com/sync/v9/completed/get_all
  response:
    body:
      string: '{"items": [{"completed_at": "2024-10-24T05:09:13.000000Z", "content":
        "some test task 277", "id": "7752474099", "item_object": null, "meta_data":
        null, "note_count": 0, "notes": [], "project_id": "2325704627", "section_id":
        null, "task_id": "8371018768", "user_id": "34534534534", "v2_project_id":
        "6RG7cFQw4P9rx3w4", "v2_section_id": null, "v2_task_id": "6W7cMMvxMjfv3PFW"},
        {"completed_at": "2024-10-24T05:09:11.000000Z", "content": "some test task
        278", "id": "7752474054", "item_object": null, "meta_data": null, "note_count":
        0, "notes": [], "project_id": "2325704627", "section_id": null, "task_id":
        "8371023100", "user_id": "34534534534", "v2_project_id": "6RG7cFQw4P9rx3w4",
        "v2_section_id": null, "v2_task_id": "6W7cMwjcXP37GRv4"}, {"completed_at":
        "2024-10-24T05:03:48.000000Z", "content": "some [...]
- request:
    body: alias=4838805235&text=some+test+task+313&priority=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      url:
      - https://habitica.com
      x-api-key:
      - 18f22441-2c87-6d8e-fb2a-3fa670837b5a
      x-api-user:
      - cd18fc9f-b649-4384-932a-f3bda6fe8102
    method: PUT
    uri: https://habitica.com/api/v3/tasks/4838805235
  response:
    body:
      string: '{"success": true, "data": {"challenge": {}, "group": {"completedBy":
        {}, "assignedUsers": []}, "_id": "d09f0f21-df5d-4b27-80d9-290a1609253e", "completed":
        false, "collapseChecklist": false, "type": "todo", "notes": "", "tags": [],
        "value": -822.9537770925195, "priority": 1, "attribute": "str", "byHabitica":
        false, "text": "some test task 314", "date": null, "alias": "4838805235",
        "checklist": [], "reminders": [], "createdAt": "2023-10-08T03:22:55.996Z",
        "updatedAt": "2024-11-16T07:36:12.055Z", "userId": "cd18fc9f-b649-4384-932a-f3bda6fe8102",
        "id": "d09f0f21-df5d-4b27-80d9-290a1609253e"}, "notifications": [{"type":
        "ITEM_RECEIVED", "data": {"icon": "notif_habitoween_glow_pet", "title": "Happy
        Habitoween!", "text": "For this spooky celebration, you''ve received a Glow-in-the-Dark
        Jack-O-Lantern Pet and an assortment of candy for your Pets!", "destination":
        "/inventory/stable"}, "seen": false, "id": "14cd4f2f-5a09-4e09-9607-439b60b364b3"},
        {"type": "NEW_STUFF", "data": {"title": "NOVEMBER SELECTIONS IN THE QUEST
        SHOP!"}, "seen": true, "id": "a00e1019-bc9e-4a9d-b381-97dcba95c241"}], "userV":
        67937, "appVersion": "5.29.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '27'
      X-RateLimit-Reset:
      - Sat Nov 16 2024 07:37:05 GMT+0000 (Coordinated Universal Time)
    status:
      code: 200
      message: OK
[...]
- request:
    body: alias=5009431616&text=some+test+task+319&priority=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      url:
      - https://habitica.com
      x-api-key:
      - 18f22441-2c87-6d8e-fb2a-3fa670837b5a
      x-api-user:
      - cd18fc9f-b649-4384-932a-f3bda6fe8102
    method: PUT
    uri: https://habitica.com/api/v3/tasks/5009431616
  response:
    body:
      string: '{"success": true, "data": {"challenge": {}, "group": {"completedBy":
        {}, "approval": {"required": false, "approved": false, "requested": false},
        "assignedUsers": [], "sharedCompletion": "singleCompletion"}, "_id": "dc2f7866-56b6-4892-873b-b5347a89eb4f",
        "completed": false, "collapseChecklist": false, "type": "todo", "notes": "",
        "tags": [], "value": -3139.913716631999, "priority": 1, "attribute": "str",
        "byHabitica": false, "text": "some test task 320", "date": null, "alias":
        "5009431616", "checklist": [], "reminders": [], "createdAt": "2021-07-22T03:39:33.683Z",
        "updatedAt": "2024-11-16T07:36:16.795Z", "userId": "cd18fc9f-b649-4384-932a-f3bda6fe8102",
        "id": "dc2f7866-56b6-4892-873b-b5347a89eb4f"}, "notifications": [{"type":
        "ITEM_RECEIVED", "data": {"icon": "notif_habitoween_glow_pet", "title": "Happy
        Habitoween!", "text": "For this spooky celebration, you''ve received a Glow-in-the-Dark
        Jack-O-Lantern Pet and an assortment of candy for your Pets!", "destination":
        "/inventory/stable"}, "seen": false, "id": "14cd4f2f-5a09-4e09-9607-439b60b364b3"},
        {"type": "NEW_STUFF", "data": {"title": "NOVEMBER SELECTIONS IN THE QUEST
        SHOP!"}, "seen": true, "id": "a00e1019-bc9e-4a9d-b381-97dcba95c241"}], "userV":
        67937, "appVersion": "5.29.3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '25'
      X-RateLimit-Reset:
      - Sat Nov 16 2024 07:37:05 GMT+0000 (Coordinated Universal Time)
    status:
      code: 200
      message: OK
[...]
